.btn {
    padding: 5px 10px;
    font-size: 20px;
    border: 1px solid var(--border-color);
    background: none;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    box-shadow: 3px 3px var(--shadow-color);
}
.btn:hover {
    border: 1px solid rgba(0, 0, 0, 0);
    background: var(--hover-color);
    color: #fff;
    box-shadow: 6px 6px var(--shadow-color);
}
.btn:focus {
    border: 1px solid rgba(0, 0, 0, 0);
    outline: none;
    background: var(--hover-color);
    color: #fff;
    box-shadow: 6px 6px var(--shadow-color);
}